<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
</head>
<body>
    <div class="cookie_message" id="cookies_message">
            <p>
                Ce site utilise des cookies pour vous offrir une meilleure expérience de navigation. En continuant à naviguer sur ce site, vous acceptez l'utilisation de cookies.
            </p>
            <button class="cookie_button" id="accept_cookies" >J'accepte</button>
            <button class="cookie_button" id="reject_cookies" >Je Refuse</button>
    </div>
    <script src="/assets/scripts/cookies.js" type="module"></script>
</body>
</html>