<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/reset.css">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
</head>
<body>
    <header class="navbar-container">
        <div class="opacity-layer">
            <div class="navbar">
                <a href="/presentation.html"><span class="branding">wild Zoo</span></a>
                <nav>
                    <a href=".html">Le Zoo</a>
                    <a href="/our-animals.html">Nos Animaux</a>
                    <a href="../pages/activities.html">Votre Vistite</a>
                    <a href="/contact.html">Contact</a>
                </nav>
            </div>
        </div>
    </header>
    
</body>
</html>