
footer {
    /*background-image: url(images/bamboo.jpg);
    background-repeat: no-repeat;
    background-size:cover;*/

    background-color: rgb(72, 140, 78);
    
   
}




.footer1 {
    display: flex;
    justify-content: space-around;
    height: 200px;
    border-bottom: 0.3px solid var(--light-rgba);
    
}




.first_column {
    padding-top: 30px;
    
}




.branding_footer {
    font-family: var(--title-font);
     color: var(--light);
}




.column ul li:first-child {
    font-size:0.8em ;
    color: var(--light);
    font-family: var(--title-font);
}




.column ul:not(.third_column ul)  {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}




.column ul li a {
    text-decoration: none;
    color: var(--light);
    

}



.column ul li:not(:first-child) {
    transition: all 0.3s  ease-in-out;
}




.column ul li:not(:first-child):hover {
    transform:scale(1.10);
    

}




.follow {
    font-family: var(--title-font);
    font-size: 0.8em;
    color: var(--light);
    padding-top: 19px;
}



.third_column {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
   
       
}




.social {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 2em;
    cursor: pointer;
    color: var(--light); 
    text-align: center;
    
}



.fa-brands {
    transition: all 0.3s  ease-in-out;
}




.fa-brands:hover {

    transform:scale(1.15);
    

}



/**********************************FOOTER2****************************/

.footer2 {
    display:flex;
    align-items:center ; 
    justify-content: space-between; 
    height:100px;
    margin-left: 100px;
}

.mentions {
    padding-right: 100px;
    transition: all 0.3s  ease-in-out;
}

.mentions:hover {
    transform:scale(1.15);
}

.mentions li {
    list-style: none;
}


.mentions li a {
    
    text-decoration: none;
    color: var(--light);

}


/****************************************MEDIA QUERY****************************************/


@media all and (max-width:840px) {




    .footer1 { 
        flex-wrap: wrap;
    }

    .footer2 {
       
        margin: auto;
    }

    .copyright {
        margin-left: 50px;
    }

    .mentions  {
        
        padding-right: 50px;
        
    }

}





@media all and (max-width:576px) {

    .footer1, .footer2  {
        font-size: 1.5em;
    }

    footer {
        height:900px;
        
        
    }

    .footer1 { 
        flex-direction: column;
        height: 700px;
        align-items: center;
    }

    .footer2 {
        height: 200px;
        flex-direction: column;
        justify-content: center;
        gap:20px;
    }

    .column ul:not(:first-child ul) {
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    /*.real_third_column {
        background-color: #f0f;
        
        
    }*/

    .real_third_column ul {
        /*background-color: blue;*/
        align-items: start;
        text-align: center;
        padding-right: 45px;
        
    }

    .mentions {
        padding-right:0;
        padding-bottom: 20px;
    }

    .copyright {
        margin-left: 0px;
    }
}