:root {
    --header-picture: url(/assets/images/hero-wild.jpg);
}
/* containers */
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 3rem 0;
}
.container.alt {
    background-color: #f8ffe7;
}
div.section {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
}
div.pad-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2rem;
    box-sizing: border-box;
    width: 100%;
}
.divide-50 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divide-60 {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divide-40 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/**/
/* typo */
h2 {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    color: var(--dark);
}
h4 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: justify;
    color: rgba(0, 0, 0, 0.8);
}
p.lead-text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    opacity: 0.8;
    text-align: center;
}
/**/
/* element bande vert */
div.stripe,
div.stripe span {
    transition: all 0.3s ease-in-out;
}
div.stripe {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    padding: 5rem 0;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
}
div.stripe:hover {
    animation: color-change 2s infinite ease-in-out;
}
div.stripe:hover span {
    transform: scale(1.025);
}
div.stripe span {
    /* big exergue catch phrase */
    text-align: center;
    line-height: 1.5;
    font-size: 2.3rem;
    color: white;
}
div.stripe:hover span.highlight:nth-last-child(1) {
    color: var(--accent);
}
span.highlight {
    font-weight: 900;
    padding: 0 !important;
}
/**/
/* video */
.video-container {
    width: 100%;
    height: 100%;
}
iframe {
    width: 100%;
    border-radius: 7px;
    border: 0;
    pointer-events: none;
    aspect-ratio: 16/9;
}
/**/
/* effet halo trendy stylé video et images */
div.image-container {
    width: 100%;
    position: relative;
}
.image {
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.fantom {
    position: relative;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    border-radius: 7px;
    filter: blur(100px);
}
img:hover {
    transform: scale(1.05);
}
/* section coloré*/
section {
    background-color: #d7ca7f;
    padding: 1rem 0;
}
section h4 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
}
section p,
section h4 {
    text-align: left;
    width: 100%;
}
section.text-right p,
section.text-right h4 {
    text-align: right;
    width: 100%;
}
/**/
/* media queries */
@media screen and (max-width: 800px) {
    div.section {
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .divide,
    .divide-60,
    .divide-40 {
        width: 100%;
    }
}
