@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Press+Start+2P&display=swap');

:root {
    --primary-rgb: rgb(96, 102, 28);
    --primary: #60661C;
    --secondary-rgb: rgb(191, 128, 53);
    --secondary:#BF8035;
    --light-rgb: rgb(245, 245, 245);
    --light-rgba: rgba(245, 245, 245, .3);
    --light:#F5F5F5;
    --dark-rgb: rgb(48, 57, 4);
    --dark:#303904;
    --accent-rgb: rgb(235, 133, 38);
    --accent: #EB8526;
    --shadow-color: rgba(48, 57, 4, 0.5);
    --text-font: 'Karla', sans-serif;
    --title-font: 'Press Start 2P', sans-serif;
    --font-size: 1.1rem;
    --font-size-link:1.3rem;
    --header-font-size: 3.4rem;
    --title-font-size: 2.2rem;

    --spacing:0.5rem;
    --spacing2:calc(--spacing * 2);
    --spacing3:calc(--spacing * 3);
    --spacing4:calc(--spacing * 4);
    --spacing5:calc(--spacing * 5);

    --shadow: 2px 1px 4px var(--dark);

    --line-height: 1.5;
}

h1 {
    font-family: var(--title-font);
    font-size: var(--header-font-size);
    color: var(--light);
}





/*************************************FOOTER*************************************************/


footer {
   
    background-color: rgb(72, 140, 78);   
   
}




.footer1 {
    display: flex;
    justify-content: space-around;
    height: 200px;
    border-bottom: 0.3px solid var(--light-rgba);
    
}




.footer_first_column {
    padding-top: 30px;
    
}




.branding_footer {
    font-family: var(--title-font);
     color: var(--light);
}




.footer_column ul li:first-child {
    font-size:0.8em ;
    color: var(--light);
    font-family: var(--title-font);
}




.footer_column ul:not(.third_column ul)  {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}




.footer_column ul li a {
    text-decoration: none;
    color: var(--light);
    

}



.footer_column ul li:not(:first-child) {
    transition: all 0.3s  ease-in-out;
}




.footer_column ul li:not(:first-child):hover {
    transform:scale(1.10);
    

}




.footer_follow {
    font-family: var(--title-font);
    font-size: 0.8em;
    color: var(--light);
    padding-top: 19px;
}



.footer_third_column {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
   
       
}




.footer_social {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    font-size: 2em;
    cursor: pointer;
    color: var(--light); 
    text-align: center;
    
}



.fa-brands {
    transition: all 0.3s  ease-in-out;
}




.fa-brands:hover {

    transform:scale(1.15);
    

}

.footer_copyright {
    color: var(--light);
}



/**********************************FOOTER2****************************/

.footer2 {
    display:flex;
    align-items:center ; 
    justify-content: space-between; 
    height:100px;
    margin-left: 100px;
}

.footer_mentions {
    padding-right: 100px;
    transition: all 0.3s  ease-in-out;
}

.footer_mentions:hover {
    transform:scale(1.15);
}

.footer_mentions li {
    list-style: none;
}


.footer_mentions li a {
    
    text-decoration: none;
    color: var(--light);

}


/****************************************MEDIA QUERY****************************************/


@media all and (max-width:840px) {




    .footer1 { 
        flex-wrap: wrap;
    }

    .footer2 {
       
        margin: auto;
    }

    .footer_copyright {
        margin-left: 50px;
    }

    .footer_mentions  {
        
        padding-right: 50px;
        
    }

}





@media all and (max-width:576px) {

    .footer1, .footer2  {
        font-size: 1.5em;
    }

    footer {
        height:900px;
        
        
    }

    .footer1 { 
        flex-direction: column;
        height: 700px;
        align-items: center;
    }

    .footer2 {
        height: 200px;
        flex-direction: column;
        justify-content: center;
        gap:20px;
    }

    .footer_column ul:not(:first-child ul) {
        height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
    }

    /*.real_third_column {
        background-color: #f0f;
        
        
    }*/

    .footer_real_third_column ul {
        /*background-color: blue;*/
        align-items: start;
        text-align: center;
        padding-right: 45px;
        
    }

    .footer_mentions {
        padding-right:0;
        padding-bottom: 20px;
    }

    .footer_copyright {
        margin-left: 0px;
        color: var(--light);
    }
}